body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1162px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:119px;
  width:925px;
  height:592px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:54px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:119px;
  width:925px;
  height:54px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:592px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:119px;
  width:925px;
  height:592px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:127px;
  width:397px;
  height:35px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF9900;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:413px;
  width:127px;
  height:35px;
  font-size:14px;
  color:#FF9900;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#3399FF;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:55px;
  width:497px;
  height:19px;
  font-size:16px;
  color:#3399FF;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(83, 28, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:410px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(186, 109, 71, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:298px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:277px;
  width:584px;
  height:212px;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:116px;
  height:30px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:0px;
  width:116px;
  height:30px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:0px;
  width:116px;
  height:30px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:0px;
  width:115px;
  height:30px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:116px;
  height:30px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:30px;
  width:116px;
  height:30px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:30px;
  width:116px;
  height:30px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#3366CC;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:30px;
  width:116px;
  height:30px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:30px;
  width:115px;
  height:30px;
  color:#3366CC;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:116px;
  height:30px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:60px;
  width:116px;
  height:30px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:60px;
  width:116px;
  height:30px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#3366CC;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:60px;
  width:116px;
  height:30px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:60px;
  width:115px;
  height:30px;
  color:#3366CC;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:116px;
  height:30px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:90px;
  width:116px;
  height:30px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:90px;
  width:116px;
  height:30px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#3366CC;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:90px;
  width:116px;
  height:30px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:90px;
  width:115px;
  height:30px;
  color:#3366CC;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:116px;
  height:29px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:120px;
  width:116px;
  height:29px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:120px;
  width:116px;
  height:29px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#3366CC;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:120px;
  width:116px;
  height:29px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:120px;
  width:115px;
  height:29px;
  color:#3366CC;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:116px;
  height:29px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:149px;
  width:116px;
  height:29px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:149px;
  width:116px;
  height:29px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#3366CC;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:149px;
  width:116px;
  height:29px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:149px;
  width:115px;
  height:29px;
  color:#3366CC;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:116px;
  height:29px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:178px;
  width:116px;
  height:29px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:178px;
  width:116px;
  height:29px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#3366CC;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:178px;
  width:116px;
  height:29px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:178px;
  width:115px;
  height:29px;
  color:#3366CC;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:245px;
  width:30px;
  height:18px;
  color:#3399FF;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:407px;
  width:100px;
  height:16px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u875_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:344px;
  width:100px;
  height:16px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u877_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:375px;
  width:100px;
  height:16px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u879_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(83, 28, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:523px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:245px;
  width:59px;
  height:18px;
  color:#3399FF;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:318px;
  width:114px;
  height:16px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u885_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF9900;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:528px;
  width:127px;
  height:18px;
  font-size:14px;
  color:#FF9900;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#3399FF;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:556px;
  width:114px;
  height:19px;
  font-size:16px;
  color:#3399FF;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
