body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1162px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:119px;
  width:925px;
  height:592px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:54px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:119px;
  width:925px;
  height:54px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:592px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:119px;
  width:925px;
  height:592px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:127px;
  width:397px;
  height:35px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF9900;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:398px;
  width:127px;
  height:35px;
  font-size:14px;
  color:#FF9900;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#3399FF;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:68px;
  width:401px;
  height:19px;
  font-size:16px;
  color:#3399FF;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(186, 109, 71, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:268px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(83, 28, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:395px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:643px;
  width:140px;
  height:40px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:267px;
  width:73px;
  height:18px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:342px;
  width:73px;
  height:18px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:301px;
  width:300px;
  height:22px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u94_input:disabled {
  color:grayText;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:375px;
  width:300px;
  height:22px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u95_input:disabled {
  color:grayText;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(83, 28, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:523px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF9900;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:528px;
  width:127px;
  height:18px;
  font-size:14px;
  color:#FF9900;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#3399FF;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:556px;
  width:114px;
  height:19px;
  font-size:16px;
  color:#3399FF;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
